    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        width: 100%;

        font-size: .5rem;

        .ascii-art {

            .ASCII-portrait {
                margin-right: auto;
                background: var(--domain-type);
                color: var(--terminal-black);
                display: inline-block;
                font-size: .08rem;
            }

            .ASCII-name {
                background: var(--domain-type);
                color: var(--terminal-black);
                font-size: .55rem;

                margin-left: auto;
                margin-right: auto;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
