.terminal {
    --background: var(--terminal-black);
    --type-color: var(--terminal-type);
    --font-family: var(--font-roboto-mono);

    height: 100%;
    background: var(--background);
    color: var(--type-color);
    font-size: 20px;
    font-family: var(--font-family);

    position: sticky;
    bottom: 0;
    left: 5;
    overflow-y: auto;
    border-top: 3px solid var(--type-color);

    pre {
        display: inline;
    }

    .history {
        .previous-command {
            color: pink;
        }

        .input-domain {
            color: var(--domain-type);

            .input-dir {
                color: var(--dir-type);
            }
        }
    }

    .command-line {
        position: relative;

        .input-domain {
            color: var(--domain-type);

            .input-dir {
                color: var(--dir-type);
            }
        }

        #command-line-input {
            border: none;
            outline: none;
            background: var(--background);

            background-color: transparent;
            color: var(--dir-type);
            /* Set default caret color to black so that its invisible (cursor color) */
            caret-color: var(--background);

            &:focus {
                border: none;
            }
        }

        #cursor {
            position: absolute;
            padding: none;
            margin-left: 1px;
            top: 50%;
            transform: translateY(-50%);
            color: transparent;
            display: inline-block;
            width: 1ch;
            animation: blink 1s step-start infinite;
        }

        button {
            display: none;
        }
    }

    @keyframes blink {

        from,
        to {
            background: transparent;
        }

        50% {
            background: var(--dir-type);
        }
    }

}
